<h1 *ngIf="isVisible">Hello  {{ title }}</h1>




<div class="row mt-3">
  <app-add-wish
  (addWish)="items.push($event)"></app-add-wish>
</div>
 <!-- (ngModelChange)="filterChanged($event)" => to je bilo u selektu -->
  <div class=" row mt-3">
   <!--x <div class="col-sm-2">
      <select class="form-select"
      [(ngModel)]="listFilter"
      >
      <option value="0">All</option>
      <option value="1">Unfill</option>
      <option value="2">Fill</option>

    
    </select>

    </div>
  -->

  <app-wish-filter
  [(filter)]="filter"></app-wish-filter>
  </div>


<div class="row mt-3">
  <div class="col-sm-4">
    <app-wish-list
[wishes]="items.filter(filter)"></app-wish-list>

  </div>

</div>
 <!--
  <div  *ngIf="visibleItems.length==0; else emtp">
    <h2>There are no items</h2>
    
   
   
  </div>

-->

    <!--
  
  <ng-template #emtp>
    <li *ngFor="let item of visibleItems; index as ii">
    
      <input type="checkbox"
       class="checkbox"
       [checked]="item.isComplited"
       [attr.data-index]="ii"
       (click)="toggleItem(item)"> {{item.wishText}}
    
  </li>
  </ng-template>
-->
    


<p>
  Congratulations! Your app is running. 🎉</p>