<h1 *ngIf="isVisible">Hello  {{ title }}</h1>

  <div  *ngIf="items.length==0; else emtp">
    <h2>There are no items</h2>
    
   
   
  </div>

 
    <form>
      <div>
        <label>Wish</label>
        <input type="text" name="ime" class="form-control" [(ngModel)]="newWishT">
      </div>
      <div>
        <button 
        type="submit"
        class="btn btn-primary"
        (click)="$event.preventDefault(); newWish()">Add Wish</button>
      </div>
    </form>
  
  <ng-template #emtp>
    <li *ngFor="let item of items; index as ii">
    
      <input type="checkbox"
       class="checkbox"
       [checked]="item.isComplited"
       [attr.data-index]="ii"
       (click)="toggleItem(item)"> {{item.wishText}}
    
  </li>
  </ng-template>
    


<p>
  Congratulations! Your app is running. 🎉</p>